a {
    color: rgb(7, 93, 163);
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 0px;
}

h2 {
    color: rgb(90, 83, 83);
}

p {
    color: rgb(77, 66, 66);
}

.link-page{
    transition: 0.5s;
    border: 2px rgb(7, 93, 163) solid ;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
}
.link-page:hover{
    background-color: rgba(7, 93, 163, 0.274);
}
header{
    background-position: center;
    background-size: cover; 
    background-image: url(./img/headerBGTown.png);
    height: 400px;
    max-width: 1200px;
    margin:auto ;
    padding: 40px 32px 40px 32px;
}
header p{
    color: aliceblue;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: rgb(214, 214, 214);
}
section{
    background-color: aliceblue;
    padding: 40px 32px 40px 32px;
    max-width: 1200px;
    margin: auto;
}

footer{
    background-color: black;
    padding: 32px 32px 32px 32px;
    max-width: 1200px;
    margin: auto;
}

footer p{
    color: aliceblue;
}

button{
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    border: 1px rgb(7, 93, 163) solid ;
    transition: 0.5s;
    color: aliceblue;
    background-color: rgb(7, 93, 163);
}

button:hover{
    background-color: rgba(7, 93, 163, 0);
    color: rgb(7, 93, 163);
}
input{
    margin: 0px 0px 8px 0px;
    max-width: 240px;
    width: 100%;
    padding: 8px 8px 8px 8px;
}
img{
    width: 100%;
    max-width: 700px;
}


